/* Add CSS Styling */
 .odd{
    background-color:hsl(10, 100%, 60%);
    font-family:'Verdana','DejaVu Sans',sans-serif;
 }

 #even1{
    color:blue;
    font-size: 36px;
 }

.cool{
    font-size: 24px;
}

#even2{
    background-color: hsl(120, 95%, 64%);
    font-size: 24px;
    font-weight: bold;
}